
/*//////////////////////////////////////////////////////////////////
[ Homepage ]*/

/*------------------------------------------------------------------
[ Navbar ]*/

.mainmenu-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 10px 20px 15px 20px;
    background: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
}

/* .mainmenu-area ul.mainmenu {
    text-align: center;
    float: none;
    display: block;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.mainmenu-area ul.mainmenu li {
    float: none;
    display: inline-block;
    text-align: center;
}

@media (min-width: 768px){
    .navbar-nav>li {
        float: left;
    }
}

.nav>li {
    position: relative;
    display: block;
}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: #333333;
} */

.navbar-header {
    margin: 0;
    float: left;
}

.mainmenu-area .right-button {
    position: absolute;
    right: 15px;
    top: 12px;
}

.right-button a.login ,.right-button a.register  {
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.right-button a.register {
    margin-left: 15px;
    margin-right: 5px;
}

.mainmenu-area .right-button a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #768ede;
    text-decoration: none;
    outline: none;
}
 @media(max-width: 450px){
    .right-button a.register {
        display: flex;
        margin-top: 10px;
    }
    .right-button a.login {
        margin-left: 40px;
    }
 }
/*------------------------------------------------------------------
[ Content ]*/

.content-container {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    padding: 0;
    background: linear-gradient(to top, #000428, #004e92); /*#f2f2f2; */
    
}

.home-area {
    width: 100%;
    background: url(../images/icons/header-bg.jpg) no-repeat scroll center bottom / cover;
    padding-top: 20vh;
    color: #ffffff;
    margin-bottom: 100px;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

@media (max-width: 992px){
    .row {
        display: block;
    }
    .space-80 {
        height: 160px !important;
    }
    .home-area {
        padding-top: 10vh !important;
    }
    
}

figure>img{
    padding-top: 50px;
}

figure {
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.home-area .mobile-image {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -158px;
}

img {
    max-width: 100%;
    height: auto;
}

.space-80 {
    height: 80px;
}

.space-20 {
    height: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 400;
    line-height: 1.4em;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif !important; /*Poppins-Regular*/
    font-size: 16px;
    line-height: 32px;
    margin: 0px;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.bttn-white {
    position: relative;
    background: rgb(72, 44, 191);
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
    border: none;
    color: #768ede;
}

.bttn-white {
    padding: 12px 30px;
    background-color: #ffffff;
    display: inline-block;
    color: #768ede;
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 14px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.bttn-white:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/* @media (min-width: 992px){
    .col-md-7 {
        width: 58.33333333%;
    }
}

@media (min-width: 992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
} */









h1 {
    font-size: 60px;
}

/* h1 {
    margin: 0.67em 0;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} */

p {
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.bttn-default .lnr, .bttn-white .lnr {
    margin-right: 10px;
}

.lnr {
    font-family: 'Linearicons-Free';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

